*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #171100;
  --second-color: #5f5b53;
  --third-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.row {
  display: flex;
  align-items: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

input,
textarea,
button,
select {
  outline: none;
  font-family: "Poppins", sans-serif;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.wrapper {
  height: 1000vh;
}

h1 {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: calc(66 / 56);
  letter-spacing: -0.02em;
  color: var(--primary-color);
}

h2 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: calc(48 / 38);
  letter-spacing: -0.02em;
  color: #130606;
}

.btn {
  padding: 12px 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: calc(26 / 14);
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 25px;
  min-width: 118px;
}

/* ==========Menu========== */

.menu {
  background: #fffcf4;
  padding-top: 20px;
  position: sticky;
  top: -20px;
}

.menu-container {
  padding: 12px 0;
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar > a {
  display: inline-block;
  margin-right: auto;
}

.navbar .list {
  display: flex;
  margin-right: 49px;
}

.navbar .list .item .link {
  padding: 0 21px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: calc(28 / 16);
  color: var(--second-color);
}

.navbar .menu-auth .btn-signup {
  padding: 11px 41px 10px;
  line-height: calc(28 / 14);
}

/* ==========Hero========== */

.hero {
  height: calc(100vh - 93px);
  background: #fffcf4;
  padding: 53px 0 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .hero-image,
.hero-content {
  width: 470px;
}

.hero .hero-image {
  height: calc(100vh - 93px - 118px);
}

.hero .hero-image > img {
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
}

.hero .heading {
  margin-bottom: 22px;
}

.hero .desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  color: var(--second-color);
  margin-bottom: 38px;
}

.hero .btn-see {
  background-color: var(--third-color);
  padding: 17px 33px 17px 34px;
  border-radius: 32px;
  margin-right: 28px;
}

.hero .video {
  margin-bottom: 48px;
}

.hero .video-link {
  display: flex;
  align-items: center;
}

.hero .btn-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
  margin-right: 14px;
}

.hero .video-link span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  color: var(--primary-color);
}

.hero .hero-stat {
}

.hero .hero-stat .title {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  color: var(--second-color);
  margin-bottom: 8px;
}

.hero .hero-stat .number {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  color: var(--second-color);
  margin-right: 28px;
}

.hero .hero-stat .number b {
  font-family: "Sen";
  font-weight: 700;
  font-size: 4.4rem;
  line-height: calc(54 / 44);
  color: var(--primary-color);
}

/* ==========Menu========== */

/* ==========Menu========== */

/* ==========Menu========== */

/* ==========Menu========== */
